* {
  box-sizing: border-box;
}
body {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
}
.container {
  margin-top: 20px;
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  align-items: center;
}
img {
  margin: 30px 0 40px 0;
  width: 180px;
}

form {
  display: flex;
  flex-direction: column;
}
.input_id {
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  background-color: #fafafa;
  padding: 9px 0 7px 8px;
  border-radius: 5px;
  border: 1px solid #fafafa;
  font-size: smaller;
}
.input_pass {
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  background-color: #fafafa;
  padding: 9px 0 7px 8px;
  border-radius: 5px;
  border: 1px solid #fafafa;
  font-size: smaller;
}

.login_btn {
  height: 30px;
  border-radius: 3px;
  border: 1px solid #b2dffc;
  background-color: #b2dffc;
  color: white;
  font-weight: bold;
}

a {
  font-weight: bolder;
  margin-top: 100px;
  font-size: x-small;
  text-decoration: none;
}
