body{
    display: flex;
    flex-direction: column;
    
}
.container{
    display: flex;
    width:1000px;
    flex-direction: column;
    padding:60px;
    border: 1px solid lightgray;
}
nav{
    display: flex;
    border-bottom:1px solid rgb(191, 190, 189);
    padding:10px 20px;
    
}
nav img{
    width: 20px;
    height: 20px;
    padding:5px;

}
.newHeart{
    margin-left: 20px;
    margin-right: 20px;
}
.main-logo{
    border-right:1px solid black;
    padding-right: 15px;
    margin-left:70px;
    margin-top: 5px;
    
}
.main-text{
    font-family: 'Lobster', cursive;
    font-size: 20px;
    padding-left:15px;
    margin-top: 5px;
    
}
nav input{
    margin-left:150px;
    margin-right:150px;
    width:150px;
    text-align: center;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-color: #eee;
    background-position: 65px;
    padding:5px 25px;
    font-size: 13px;
    border: 1px solid lightgray;
    margin-top: 5px;
}
main{
    background-color: rgb(241, 238, 238);
    border: 1px solid white;
    display: flex;
    justify-content: center;
}
.article-header{
    display: flex;
    flex-direction: row;
    border:1px solid rgb(191, 190, 189);
    background-color: white;
}
.id-location{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    flex:1;
}

.author-img{
    width:25px;
    height: 25px;
    border-radius: 50%;
    padding:10px;
}
.article-header .identify{
    font-size: 15px;
}
.article-header .location{
    font-size: 12px;
}

.moreOption{
    width:15px;
    height:15px;
    margin: 10px;
}
.new-photo{
    width:500px;
}
.feed-box{
    width:500px;
    border: none;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}
.feed-icon{
    display:flex;
    align-items: center;
    border:none;
    padding:7px;
    
}
.feed-icon img{
    width:20px;
}
#chat-icon{
    width:25px;
    margin:0 10px;
}
#red-heart{
    margin-left: 10px;
}
.save-icon{
    margin-left:370px;
}
.feeds-footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    border:none;
   
}


.howManyLikes{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0 10px;
}
.comments{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding:0 10px;
}
#description{
    margin-left: 10px;
    padding:0 10px;
}
.people{
    width:20px;
    height:20px;
    border-radius: 50%;
    padding:10px;
}
.likeIt{
    width:15px;
    height: 15px;
    
}
.main-right{
    width:300px;
    border:none;
    margin-left: 15px;
}
.comment{
    display: flex;
    justify-content: space-between;
}
.minutes{
    margin-top: 0;
    margin-left: 10px;
    padding:0 10px;
}
.addingCommentList{
    border-top: 1px solid lightgray;
    height: 45px;
    display: flex;
    flex-direction: row;
    padding:0 10px;
    justify-content: space-between;
    align-items: center;
    
}
.addingCommentList input{
    display: flex;
    border: none;
    font-size: 15px;
    
}
.upload-btn{
color:rgb(19, 126, 172);
border: none;
background-color: white;
}

.upload-btn:disabled{
    color:rgb(153, 215, 241);
    border: none;
background-color: white;
}

.profile-box{
    display: flex;
    flex-direction: row;
    
    margin-top: 40px;
    align-items: center;
}
.profile-img{
    width:35px;
    height: 35px;
    border-radius: 50%;
    padding:10px;
}
.profile-box .identify{
    font-size: 15px;
    margin-top: 5px;
}
.profile-box .location{
    font-size: 12px;
}
.story-box{
    border:1px solid rgb(191, 190, 189);
    background-color: white;
    padding:10px;
    margin-bottom: 15px;
}
.story-box-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:rgb(148, 148, 148);
    margin-bottom: 17px;
}
.recommend-box{
    border:1px solid rgb(191, 190, 189);
    background-color: white;
    padding:10px;
    
}
.recommend-box-header{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    color:rgb(148, 148, 148);
    margin-bottom: 17px;
}
.story-box-content{
    display: flex;
    flex-direction: column;
    
}
.story1{
    display: flex;
    flex-direction: row;
}
.story-id{
    display: flex;
    flex-direction: column;
    flex:1;
    
}

.recent{
    color: rgb(181, 179, 179);
    font-size: 12px;
}

.story-box-content img{
    width:30px;
    height: 30px;
    border:1px solid red;
    border-radius: 50%;
    margin-right:15px;
}
.story-box-content .center-img{
    margin-top: 15px;
    margin-bottom: 15px;
}

.recommend-box-content img{
    width:30px;
    height: 30px;
    border:1px solid white;
    border-radius: 50%;
    margin-right: 15px;
}
.recommend-box-content .center-img{
    margin-top: 15px;
    margin-bottom: 15px;
}
.recommend-box-content{
    display: flex;
    flex-direction: column;
}
.companyInfo-box{
    font-size: 12px;
    color:lightgray;
    padding:15px;
}
.follow{
    color:rgb(78, 167, 202);
    font-size: 15px;
}
