* {
  margin: 0;
}

.navigation {
  display: flex;
  min-width: 600px;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  margin: 15px 0;
  height: 55px;
}

.nav-left, .nav-center, .nav-right {
  display: flex;
}

.nav-center {
  position: relative;
  right: 60px;
}

#search-icon {
  padding: 0 60px;
}

#search {
  padding: 0 40px;
}

.nav-right img {
  cursor: pointer;
}

#user {
  position: relative;
}

#my-menu {
  position: absolute;
  display: none;
  width: 200px;
  height: 170px;
  background-color: white;
  right: 0;
  top: 50px;
  z-index: 1;
  border: 1px solid lightgray;
}

#my-menu ul {
  list-style:none;
  font-size: 20px;
  padding: 10px;
}

#my-menu li {
  color: black;
  padding: 10px;
}

#my-menu:after {
  border-top: 0px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid lightgray;
  content: "";
  position: absolute;
  left: 169px;
  top: -10px;
}

#my-menu li:nth-child(2) {
  padding: 0 12px;
}

#my-menu li:nth-child(4) {
  border-top: 1px solid lightgray;
  width: 200px;
  font-size: 16px;
  position: absolute;
  right: 0;
  padding: 14px 0;
}

#my-menu span {
  padding: 0 10px;
  cursor: pointer;
}

#search-icon {
  position: relative;
  left: 90px;
  margin: 3px 0 0 0;
}

#search {
  text-align: center;
  outline: none;
  width: 200px;
  background-color: rgb(249,249,249);
  border: 1px solid lightgray;
}

#search-result {
  position: relative;
  margin: 30px 0 0 0;
}

#search-user {
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  top: 40px;
  right: 0;
  width: 280px;
  align-items: center;
  border: 1px solid lightgray;
  background-color: white;
}

.user-card {
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

#search-img {
  display: flex;
  width: 60px;
  margin: 10px;
  height: 60px;
  border-radius: 60px;
}

#search-username {
  font-size: 20px;
}

#search-subname {
  font-size: 20px;
  font-weight: 200;
}

#insta-icon {
  font-size: 40px;
  margin: 5px 0 0 0;
  cursor: pointer;
}

#logo {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  cursor: pointer;
}

img {
  margin: 0 4px;
  cursor: pointer;
}

#feed-img {
  margin: 0;
}

#division {
  background: black;
  width: 2px;
  margin: 10px;
  height: 35px;
}

main {
  display: flex;
  background-color: rgb(249,249,249);
  width: 100vw;
  height: 100vh;
  min-width: 600px;
  padding: 30px;
  justify-content: center;
}

.feeds {
  width: 500px;
  height: 750px;
  border: 1px solid lightgray;
}

.feeds-top {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.feeds-top-left, .feeds-top-right {
  display: flex;
  align-items: center;
}

.feeds-top-right {
  cursor: pointer;
}

#profile-img {
  border-radius: 30px;
  width: 30px;
  height: 30px;
}

.feeds-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.feeds-icons-left {
  display: flex;
  align-items: center;
}

.feeds-icons-left > div {
  padding: 0 5px;
}

.feeds-likes {
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
}

.feeds-comments-top {
  position: relative;
  left: 20px;
  padding-bottom: 5px;
}

.user-comment {
  width: 450px;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 20px;
  padding-bottom: 5px;
}

.fa-heart {
  cursor: pointer;
}

.del-comment-btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.time, .others, .ad-desc, 
.story-text, 
.suggestion-text {
  color: gray;
}

.others {
  padding-bottom: 5px;
}

.time {
  position: relative;
  padding-bottom: 5px;
}

.feed-time {
  padding-left: 20px;
}

.nickname {
  font-weight: 800;
  cursor: pointer;
}

.write-comment {
  display: flex;
  background-color: rgb(249,249,249);
  border-top: 1px solid lightgray;
  padding: 20px 0;
  margin: 10px 0; 
  z-index: -1;
}


.write-comment > input{
  width: 70%;
  outline: none;
  border: none;
  background-color: rgb(249,249,249);
  padding: 0 0 0 10px;
}

.write-comment > button{
  width: 100px;
  background-color: rgb(249,249,249);
  border: none;
  color: lightblue;
  margin: 0 0 0 200px;
}

.ad {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0 30px;
}

.ad #profile-img {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.story {
  border: 1px solid lightgray;
  margin: 30px;
  padding: 10px;
}

.story-top {
  display: flex;
  width: 300px;
  padding: 10px;
  justify-content: space-between;
}

.story-user {
  display: flex;
  padding: 5px;
}

.all {
  cursor: pointer;
}

.suggestion {
  min-width: 320px;
  border: 1px solid lightgray;
  margin: 30px;
  padding: 10px;
}

.suggestion-top {
  display: flex;
  width: 300px;
  padding: 10px;
  justify-content: space-between;
}

.suggestion-user {
  display: flex;
  padding: 5px;
}

.follow-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: rgb(114,176,233);
  margin: 0 0 0 100px;
}

.info-text {
  min-width: 320px;
  color: lightgray;
  margin: 30px;
  padding: 10px;
}

@media screen and (max-width: 900px) {
  .main-right {
      display: none;
  }
}