body{
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-background{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width : 350px;
  border : 1px solid #dbdbdb;
}

.logo-box{
  display: flex;
  justify-content: center;
}

.logo-box:hover{
  cursor: pointer;
}

.logo{
  font-size: 50px;
  margin : 40px 0;
}

.login-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width : 270px;
}

.login-box input::placeholder{
  color: #8e8e8e;
}

.id-box{
  display: flex;
  justify-content: center;
}

.login-box input{
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  width : 270px;
  padding : 10px;
  margin-bottom : 5px;
}

.login-box input:focus{
  outline: none;
}

.pw-box{
  display: flex;
  justify-content: center;
}

.loginButton-box{
  display: flex;
  justify-content: center;
}

.loginButton-box button{
  color: white;
  background-color: #0195f7;
  width : 270px;
  margin : 10px 0;
  border : 0;
  border-radius: 5px;
  padding: 5px 0;
  font-size: 15px;
  font-weight: bold;
  opacity: 0.4;
}

.loginButton-box button:hover{
  cursor: pointer;
}

.prob-box{
  display: flex;
  justify-content: center;
}

.prob{
  text-decoration: none;
  margin-top: 60px;
  margin-bottom: 30px;
  color: #375184;
  font-size: 12px;
}
