body {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    width: 400px;
    border: 1px solid #DBDBDB;
}

.logo-box {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 30px 0 30px 0;
}

.logo-title {
    font-size: 45px;
    font-family: 'Lobster', cursive;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.identify {
    display: block;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    margin: 15px 50px 8px 50px;
    padding: 14px 10px;
    font-size: 12px;
}

.password {
    display: block;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    margin: 0 50px;
    padding: 14px 10px;
    font-size: 12px;
}

.login-btn {
    display: block;
    background-color: #C0DFFD;
    border: 0;
    border-radius: 4px;
    margin: 16px 50px;
    padding: 10px 10px;
    font-size: 16px;
    color: white;
}

.extra-box {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 100px 0 30px 0;
}

.forget-password {
    color: #124172;
    font-display: under;
    text-decoration: none;
}