body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border: 1px solid #ddd;
  width: 400px;
}

.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-text {
  display: inline-block;
  font-family: "Lobster", cursive;
  font-size: 60px;
  padding: 60px;
}

.input-box {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.input-common {
  display: block;
  padding: 10px 15px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fafafa;
  font-size: 16px;
}

.identify {
}

.password {
}

.login-btn {
  display: block;
  margin: 5px 0;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  background-color: #c4e1fb;
  color: white;
  font-size: 16px;
}

.extra-box {
  padding-top: 60px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.find-password {
  font-family: cursive;
  color: #0095f6;
}
