* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

nav {
    background-color: white;
    border-bottom: 1px solid #eaeaea;
    padding-left: 70px;
    padding-right: 50px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.justalogo {
    width: 40px;
    margin: 15px;
    padding-right: 15px;
    border-right: 2px solid black;
}
.title {
    font-family: 'Lobster', cursive;
    font-weight: bold;
    font-size: 25px;
}
.searchbar {
    text-align : center;
    outline: none;
    width: 250px;
    padding: 5px 0;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
}
.navleft {
    display: flex;
    align-items: center;
    
}
.navright {
    display: flex;
    align-items: center;
}
.heart , .finder, .mypage {
    width:35px;
    margin: 0px 15px;
}
.mainpage {
    background-color: #FFFFFF;
    padding-left: 70px;
    padding-right: 50px;
    border: 1px solid black;
}
.feeds {
    margin-left: 150px;
    width: 560px;
}
.feedtop{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.profile img {
    width: 40px;
    border-radius: 40px;
    margin: 0 10px;
}
.profile {
    display:flex;
    align-items: center;
}
.username {
    font-style: Neue Helvetica;
    font-weight: bold;
}
article {
    margin: 5px 5px 40px 5px;
    border: 1px solid black;
}
.doraemonfeed{
    width: 550px;
}
.feedbottom {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.fa-heart {
    color:red;
    margin-left: 8px;
}
.fa-bookmark {
    margin-right: 8px;
}
.fa-solid , .fa-regular {
    padding: 5px;
}
.howmanylikes {
    padding: 5px 5px 10px 5px;
}
#JJang9 {
    width: 20px;
}
.caption {
    margin-left: 13px;
}
.description {
    color: #a3a3a3
}



