body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  border: 1px solid #ddd;
  width: 400px;
}

.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-text {
  display: inline-block;
  font-family: "lobster", cursive;
  font-size: 60px;
  padding: 50px;
}
.input-box {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.input-common {
  display: block;
  padding: 10px 15px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.login-id {
  display: block;
}

.login-pw {
  display: block;
}

.login-btn {
  margin: 5px 0;
  padding: 8px 0;
  border-radius: 5px;
  border: none;
  background-color: #c4e1fb;
  color: white;
  font-size: 16px;
}
login-bt:hover {
  color: #2c58fe;
}
.extra-box {
  padding-top: 60px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.find-password {
  font-family: cursive;
  color: #2c58fe;
}

input[type="text"],
input[type="password"] {
  padding-left: 10px;
  position: relative;
  height: 35px;
  font-size: 17px;
}

input::placeholder {
  font-weight: normal;
  font-size: 13px;
}

input:focus::placeholder {
  position: absolute;
  font-size: 10px;
  transform: translate(-13px);
}

/*
form {
  width: 75%;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: #fafafa;
}

form input {
  margin-bottom: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  outline: none;
}

form input:focus {
  border: 1px solid rgba(0, 0, 0, 0.7);
  background: #efefef;
}

/*form button {
  border: none;
  background: #c4e1fb;
  padding: 5px 0;
  margin-top: 5px;
  color: #fff;
  border-radius: 3px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
}

form button:active {
  background: #2c58fe;
}

.forget-id {
  margin: 15px;
}

.forget-id a {
  text-decoration: none;
  color: #025fd2;
  font-size: 12px;
  font-weight: 500;
}
*/
