/* .story {
  border: 1px solid;
  border-radius: 100px;
  width: 35px;
  height: 35px;
  border: 2px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
    linear-gradient(
      to right,
      rgb(250, 145, 55) 28%,
      rgb(235, 65, 65) 42%,
      rgb(195, 60, 190) 58%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-top: 6px;
} */
* {
  box-sizing: border-box;
}
body {
}

.container {
  /* border: 2px solid black; */
}

.header_style {
  border-bottom: 1px solid #dedede;
  padding: 10px 150px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.logo_box {
  font-family: "Lobster", cursive;
  font-size: 25px;
}

.logo_text {
  margin-left: 10px;
}
.logo_image {
  border-right: 2px solid black;
  padding-right: 10px;
  margin-right: 10px;
  width: 30px;
}

.search_box {
  width: 200px;
  border: 1px solid #dedede;
  color: #dedede;
  text-align: center;
}

.menu_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_btn {
  width: 25px;
  margin: 0 7px;
}

.contents {
  border: 3px solid black;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.feed_group {
  border: 1px solid black;
}

.aside_section {
  border: 1px solid purple;
  width: 300px;
  margin-left: 30px;
  float: right;
}

.feed_container {
  border: 1px solid red;
}

.feed_header {
  /* border: 1px solid black; */
}

.feed_photo {
  border: 1px solid black;
  width: 450px;
}

.feed_button_group {
  /* border: 2px solid green; */
}

.feed_content {
  /* border: 2px solid blue; */
}

.like_list_box {
  /* border: 3px solid black; */
}

.feed_comment {
  /* border: 2px solid yellow; */
}

.write_comment {
  /* border: 1px solid orange; */
}

.write_comment_btn {
  border: none;
}
